.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.neon-pink:hover { 
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #500550, 0 0 70px #500550, 0 0 80px #500550, 0 0 100px #500550;
  transition: text-shadow 0.2s ease-in-out;
}
.neon-pink{
  color: #EE82EE;
}

.icons{
  font-size: 100px;
  color: #9b6dff;
  transition: color 0.5s ease;
  
}
.card-body:hover .icons{
  color:#171225;
  transition: color 0.5s ease;
}
.card-text{
  transition: color 0.5s ease;
}

.card-body:hover .card-text {
  color:#171225;
  transition: color 0.5s ease;
}

.linkedin-icon{
  font-size: 50px;
  --tw-text-opacity: 1;
color: rgba(229, 231, 235, var(--tw-text-opacity));
  
}

.insta-icon{
  font-size: 50px;
  --tw-text-opacity: 1;
color: rgba(229, 231, 235, var(--tw-text-opacity));
  
  
}





